{% extends 'template.html' %}

{% block title %}
Eddy summary
{% endblock title %}

{% block subtitle %}
<h3><code>{{ out_dir }}</code></h4>
<p>Number of Eddy included : <code>{{ eddyStudy.ep_list | length }}</code></p>
{% endblock subtitle %}

{% block linkline %}
<a class="btn btn-primary btn-lg" href="#}" role="button">Back to study level summary &raquo;</a>
{% endblock %}

{% block content %}
<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-12">
    <h2>Data summary for each Eddy runs</h2>
    <table class="table-responsive">
        <tr>
            {% for key, value in eddyStudy.eddyRuns.0.df.items() %}
                {% if key != 'ep' %}
                    {% if key != 'eddy_input' %}
                        <th scope="col">{{ key }}</th>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% for eddyRun in eddyStudy.eddyRuns %}
        <tr>
            <td scope="col">{{ eddyRun.df.1 }}</td>
            <td scope="col">{{ eddyRun.df.3 }}</td>
            <td scope="col">{{ eddyRun.df.4 }}</td>
            <td scope="col">{{ eddyRun.df.5 }}</td>
            <td scope="col">{{ eddyRun.df.6 }}</td>
            <td scope="col">{{ eddyRun.df.7 }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.8|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.9|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.10|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.11|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.12|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.13|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.14|float) }}</td>
            <td scope="col">{{ "%.2f"|format(eddyRun.df.15|float) }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Summary figures</h2>
    {% for img_path in image_list %}
        <div class="col-md-12">
            {{ img_path }}
            <img src="{{ img_path }}" class="img-fluid" alt="Responsive image">  </img> 
        </div>
    {% endfor %}
    <br>

  </div>
</div>

</div>
{% endblock content %}
